*.log
*.pid
*.seed
.*.swp
.DS_Store
._*
.env
.git
.grunt
.hg
.lock-wscript
.node_repl_history
.npm
.npmrc
.nyc_output
.svn
.wafpickle-*
_.json
build
dist
config.gypi
coverage
CVS
jspm_packages
lib-cov
logs
node_modules
npm-debug.log*
pids
