version: "{build}-{branch}"

environment:
  matrix:
    - nodejs_version: "8"
    - nodejs_version: "10"
    - nodejs_version: "Stable"
    - nodejs_version: "Current"
    - nodejs_version: "LTS"
install:
  - ps: Install-Product node $env:nodejs_version x64
  - npm install

test_script:
  - node --version
  - npm --version
  - npm test

build: off
